<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ '/styles.css' | url }}" />
  </head>
  <body class="flex flex-col md:flex-row font-light bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-200">
    <main class="flex flex-col md:max-h-screen md:h-screen md:w-2/3 md:overflow-scroll">
      <section class="fixed top-0 w-full md:w-2/3 ">
        {% include "partials/navigation.njk" %}
     </section>

     <div class="mt-24 px-4 mb-4 md:px-10 flex-grow">
       {{ content | safe }}
      </div>
    </main>

    <aside class="w-full md:order-first md:w-1/3 md:mt-0 md:pt-4 px-4 lg:px-8 pb-8 md:pt-8 border-r border-gray-300 dark:border-gray-900 md:max-h-screen md:overflow-scroll md:h-screen">
      {% include "partials/sidebar.njk" %}
    </aside>

    {% set js %}
      {% include "js/theme.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

    {% if meta.env === 'production' %}
      <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "92360fbdea3b41fcbee3cf07c9abbd40"}'></script><!-- End Cloudflare Web Analytics -->
    {% endif %}
  </body>
</html>
