<footer>
  <h1> Footer </h1>

  <p>
  This site is part of my work as I learn in public, and I use it to share my thoughts
  and experiences on a variety of topics, including software development and personal
  development. 
  </p>

  <p>
  You'll find a mix of full-length essays and shorter notes here, and I hope you find something of value. 
  </p>
  <p>
  I built this site with BridgeTown, and you can find the public repository for it here. 
  </p>
  <p>
  Thank you for visiting, and I hope you enjoy your time on my website.
  </p>

  <p>
  home | about | posts | sitemap | feed
  </p>

  <p>
  Francois Buys © 2022
  </p>
</footer>
