<nav class="bg-white dark:bg-gray-900 absolute top-0 w-full flex-none py-4 px-5 uppercase tracking-wide font-medium shadow z-10">
  <ol class="list-none flex items-center">
    <li class="inline px-3 align-middle flex-none"><a href="/">Home</a></li>
    <li class="inline px-3 align-middle flex-none"><a href="/posts">Posts</a></li>
    <li id="theme-toggle" class="inline flex-grow pr-4 flex justify-end">
      {% include "icons/contrast.svg" %}
    </li>
  </ol>
</nav>
