<figure class="m-auto text-center">
  <picture>
    <source srcset="/img/fb.avif" type="image/avif">
    <img
      class="object-cover h-32 w-32 lg:h-44 lg:w-44 mt-6 border-2 border-yellow-400 dark:border-yellow-300 rounded-full m-auto shadow-md"
      src="/img/fb.jpeg"
      alt="Francois' photo"
    />
  </picture>
  <figcaption class="text-3xl md:text-2xl lg:text-3xl text-center py-6">👋, I am Francois</figcaption>
</figure>

<section>
  <div>
    <p class="pb-4">
      I strive to uplift and I am currently making my impact as a fullstack programmer at
      <a 
        class="text-yellow-400 dark:text-yellow-300 font-medium tracking-wide"
        href="https://www.ombulabs.com/"
        target="_blank"
        rel="noreferrer noopener"
      >
        Ombulabs
      </a>.
    </p>

    <p>
      This blog explores ideas around fullstack programming, SOLID principles, OOP, TDD
      and even some fun tutorials.
    </p>

    <ul class="list-none flex justify-between items-center pt-8 lg:px-6 dark:text-yellow-300 text-yellow-400">
      <li>
        <a 
          href="https://github.com/buys-fran"
          target="_blank"
          rel="noreferrer noopener"
        >
          {% include "icons/github.svg" %}
        </a>
      </li>
      <li>
        <a 
          href="https://twitter.com/francoisbuys"
          target="_blank"
          rel="noreferrer noopener"
        >
          {% include "icons/twitter.svg" %}
        </a>
      </li>
      <li>
        <a 
          href="https://www.linkedin.com/in/francois-buys-4b6a7a87/"
          target="_blank"
          rel="noreferrer noopener"
        >
          {% include "icons/linkedin.svg" %}
        </a>
      </li>
      <li>
        <a 
          href="mailto:buys.fran@gmail.com"
          target="_blank"
          rel="noreferrer noopener"
        >
          {% include "icons/email.svg" %}
        </a>
      </li>
    </ul>
  </div>
</section>
