<aside>
   It looks like stylesheets are missing, but actually I’m working on this site openly
   and I decided to redesign it. Things will look a bit better as I progress.
</aside>
<a href="#main-content">Skip to content</a>
<header role="banner">
  <div>
    <div>
      <a href="/" aria-label="francoisbuys.com - Home">
        {% include "partials/brand.svg" %}
      </a>
      <nav aria-label="Primary">
        <ul>
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="/writing">writing</a>
          </li>
          <li>
            <a href="/collections">collections</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
