<footer>
  <h2>About me</h2>
  <p>
    I am a programmer. Which means I am a creative creator, thinker and problem solver.
    It brings we joy to to uplift and I am currently making my impact as a fullstack
    programmer at <a href="https://www.ombulabs.com/">Ombulabs</a>.
  </p>
  <div>
    <img src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
  </div>

  <h2>About this site</h2>
  <p>
    This website is my piece of the internet. I like to think of it as a digital garden.
    Some refer to it as a knowledge garden. But it is essentially an organic but digital
    landscape of ideas, notes and collections.
  </p>

  <nav role="navigation" aria-label="Footer Navigation">
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/garden">garden</a>
      </li>
      <li>
        <a href="#">sitemap</a>
      </li>
      <li>
        <a href="#">feed</a>
      </li>
    </ul>
  </nav>

  <a href="/" aria-label="francoisbuys.com - home">
    {# include "partials/brand.svg" #}
    FB Logo
  </a>
  <p>
    Designed, build and maintained by Francois Buys
  </p>
</footer>
